.item-detail {
  border-radius: 2rem;
  box-shadow: 0px 0px 10px 2px #aa8b56;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  width: 70%;
}

.item-detail .img-div {
  margin-right: 2rem;
}

.item-detail .img-div img {
  border-radius: 1rem;
  width: 100%;
}

.item-detail .desc-div {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-between;
  text-align: left;
}

.item-detail .desc-div *:not(:last-child) {
  margin-bottom: 1rem;
}

.item-detail .add-button {
  text-align: center;
  width: 100%;
}

.item-detail .desc-div button {
  background-color: #4e6c50;
  border-radius: .5rem;
  padding: 1rem 2rem;
}