.navbar {
  background-color: #4e6c50;
  color: #f0ebce;
  padding: 1rem 2rem;
}

.navbar header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navbar .navbar-logo h1 {
  font-family: 'Dancing Script', cursive;
  user-select: none;
}

.navbar .navbar-menu ul {
  display: flex;
  list-style: none;
}

.navbar .navbar-menu ul li {
  border: solid 1px #4e6c50;
  font-weight: 700;
  margin: 0 1.5rem;
  padding: 0.75rem 0.5rem;
}

.navbar .navbar-menu ul li:hover {
  border-top: solid 1px;
  border-bottom: solid 1px;
  padding: 0.75rem 0.5rem;
}
