.cart-item {
  display: grid;
  align-items: stretch;
  grid-template-columns: 2fr 5fr 1fr 1fr 1fr 1fr;
  margin-bottom: 2rem;
}

.cart-item .product-image {
  padding: 0 0.75rem;
}

.cart-item .product-image img {
  border-radius: 0.75rem;
  width: 100%;
}

.cart-item .product-info {
  display: flex;
  flex-direction: column;
  padding: 0 0.75rem;
  text-align: left;
}

.cart-item .product-info h2 {
  margin-bottom: 1rem;
}

.cart-item .product-info p {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.cart-item .number-column,
.cart-item .delete-icon {
  margin-top: auto;
  margin-bottom: auto;
}

.cart-item .delete-icon {
  color: #395144;
  cursor: pointer;
  align-self: center;
}
