.item-loading {
  border: 5px solid #F0EBCE; /* Light grey */
  border-top: 5px solid #4E6C50; /* Blue */
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}