* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F0EBCE;
  color: #082032;
  font-family: 'Montserrat', sans-serif;
}

a:link, a:visited {
  color: #F0EBCE;
  text-decoration: none;
}
